.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  gap: 5rem;
}

.ps5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px dashed red; */
}

.ps5_img {
  width: 25rem;
}

.ps5_text {
  font-weight: 800;
  font-size: 1.1rem;
}

.ps5_price {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px dashed red; */
}

.price_text, .quantity {
  font-size: 1.3rem;
  font-weight: 800;
}

.ps5_btn {
  display: flex;
  /* border: 1px dashed red; */
  gap: 1rem;
}
.btn_like, .btn_add {
  cursor: pointer;
}

.btn_like {
  width: 3.5rem;
  border-radius: 2rem;
}

.heart_img {
  width: 100%;
  height: 100%;
}

.btn_like_color {
  background-color: palevioletred;
}